<% content_for :head do %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="google-site-verification" content="vvHT6wPag-e4Bg1naxq3ni6UyL_ddL9v4litAhpxt3c" />
<% end %>

<div class="container">
  <div class="masthead">
    <h3 class="text-muted">&#20840;&#37096;&#36196;</h3>
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="https://github.com/allred">Github</a></li>
        <li><a href="https://gist.github.com/allred">Writings</a></li>
        <li><a href="http://webthing.mikeallred.com">Archives</a></li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <img name="snap" class="img-rounded img-responsive" src="snapshot0.jpg" />
  </div>

    <nav>
      <ul class="nav nav-justified">
        <li><%= link_to 'BrainLeader', controller: 'brain_leader', data: { no_turbolink: true } %></li>
        <li><%= link_to 'Ingress Destroyers', controller: 'destroyers' %></li>
      </ul>
    </nav>

  <footer class="footer">
    <p><div class="small text-muted">&copy; 1996-<%= Time.now.year %> &#20840;&#37096;&#36196;</div></p>
  </footer>
</div> <!-- container -->

<script>
imgnum = Math.floor(Math.random() * 3);
document.snap.src = "snapshot" + imgnum + ".jpg";
</script>
