<% content_for :head_top do %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>
<% content_for :head_title do %>
  <title>Pinto</title>
<% end %>
<div id="root"></div>
<script src="/js/pinto.bundle.js"></script>
